In [1]:

# Importing libraries needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv(r"C:\Users\SaurabhM\Jupyter Project Files\My Works\Big Mart Predicition\train.csv")

test=pd.read_csv(r"C:\Users\SaurabhM\Jupyter Project Files\My Works\Big Mart Predicition\test.csv")

In [3]:
train.replace({'reg':'Regular','LF':'Low Fat','low fat':'Low Fat'},inplace = True)
test.replace({'reg':'Regular','LF':'Low Fat','low fat':'Low Fat'},inplace = True)

In [4]:
train['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [5]:
train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
train_data = pd.DataFrame()
for item in list(set(train['Item_Identifier'])):
  temp = train.loc[train['Item_Identifier']==item].copy()

  temp['Item_Weight'].fillna(temp['Item_Weight'].mean(),inplace = True)
  train_data = train_data.append(temp)
print(train_data)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
2007           FDS13        6.465          Low Fat         0.000000
3714           FDS13        6.465          Low Fat         0.124403
4538           FDS13        6.465          Low Fat         0.217994
4802           FDS13        6.465          Low Fat         0.125210
5248           FDS13        6.465          Low Fat         0.124506
5440           FDS13        6.465          Low Fat         0.124759
6670           FDS13        6.465          Low Fat         0.208398
1496           NCJ17        7.680          Low Fat         0.255348
6458           NCJ17        7.680          Low Fat         0.153178
6851           NCJ17        7.680          Low Fat         0.152430
7048           NCJ17        7.680          Low Fat         0.152866
7452           NCJ17        7.680          Low Fat         0.153419
461            FDA13       15.850          Low Fat         0.078999
3479           FDA13       15.850          Low Fat         0.078490
5171           FDA13       15.850          Low Fat         0.078540
5670           FDA13       15.850          Low Fat         0.137540
6386           FDA13       15.850          Low Fat         0.078875
6507           FDA13       15.850          Low Fat         0.078714
7644           FDA13       15.850          Low Fat         0.078175
8227           FDA13       15.850          Low Fat         0.078677
610            FDC11       20.500          Low Fat         0.141106
4125           FDC11       20.500          Low Fat         0.141793
5371           FDC11       20.500          Low Fat         0.142370
5797           FDC11       20.500          Low Fat         0.141675
1181           FDM51       11.800          Regular         0.025967
2865           FDM51       11.800          Regular         0.025979
3794           FDM51       11.800          Regular         0.025905
3971           FDM51       11.800          Regular         0.000000
6790           FDM51       11.800          Regular         0.026073
7587           FDM51       11.800          Regular         0.025921
...              ...          ...              ...              ...
6339           FDC28        7.905          Low Fat         0.055098
7274           FDC28        7.905          Low Fat         0.000000
8450           FDC28        7.905          Low Fat         0.054987
1510           FDL57       15.100          Regular         0.067350
2962           FDL57       15.100          Regular         0.117443
3498           FDL57       15.100          Regular         0.067064
5030           FDL57       15.100          Regular         0.067213
5274           FDL57       15.100          Regular         0.067021
6974           FDL57       15.100          Regular         0.067181
114            FDV11        9.100          Regular         0.000000
3813           FDV11        9.100          Regular         0.136695
3845           FDV11        9.100          Regular         0.081652
4038           FDV11        9.100          Regular         0.081795
1653           FDO60       20.000          Low Fat         0.034564
2897           FDO60       20.000          Low Fat         0.034370
5175           FDO60       20.000          Low Fat         0.034341
6085           FDO60       20.000          Low Fat         0.034363
6266           FDO60       20.000          Low Fat         0.057528
6277           FDO60       20.000          Low Fat         0.000000
7534           FDO60       20.000          Low Fat         0.034203
1983           FDV50       14.300          Low Fat         0.122469
5736           FDV50       14.300          Low Fat         0.123265
7938           FDV50       14.300          Low Fat         0.122571
8306           FDV50       14.300          Low Fat         0.122762
8448           FDV50       14.300          Low Fat         0.123071
976            FDU22       12.350          Low Fat         0.163350
2421           FDU22       12.350          Low Fat         0.093442
2574           FDU22       12.350          Low Fat         0.093279
5238           FDU22       12.350          Low Fat         0.000000
8095           FDU22       12.350          Low Fat         0.093824

               Item_Type  Item_MRP Outlet_Identifier  \
2007              Canned  263.1884            OUT018
3714              Canned  266.1884            OUT013
4538              Canned  266.5884            OUT019
4802              Canned  266.8884            OUT017
5248              Canned  264.7884            OUT046
5440              Canned  264.1884            OUT045
6670              Canned  265.2884            OUT010
1496  Health and Hygiene   84.4224            OUT010
6458  Health and Hygiene   85.2224            OUT018
6851  Health and Hygiene   85.5224            OUT013
7048  Health and Hygiene   84.9224            OUT045
7452  Health and Hygiene   86.4224            OUT017
461               Canned   38.6506            OUT017
3479              Canned   39.9506            OUT013
5171              Canned   36.3506            OUT035
5670              Canned   38.8506            OUT019
6386              Canned   37.4506            OUT018
6507              Canned   37.2506            OUT045
7644              Canned   39.9506            OUT027
8227              Canned   37.8506            OUT049
610        Starchy Foods   87.9172            OUT027
4125       Starchy Foods   89.7172            OUT046
5371       Starchy Foods   90.6172            OUT018
5797       Starchy Foods   90.7172            OUT013
1181                Meat  102.2674            OUT049
2865                Meat  102.5674            OUT045
3794                Meat  102.4674            OUT013
3971                Meat  102.4674            OUT010
6790                Meat   99.8674            OUT017
7587                Meat  101.9674            OUT035
...                  ...       ...               ...
6339        Frozen Foods  109.2254            OUT045
7274        Frozen Foods  109.1254            OUT017
8450        Frozen Foods  108.6254            OUT046
1510         Snack Foods  257.3304            OUT018
2962         Snack Foods  257.7304            OUT019
3498         Snack Foods  257.9304            OUT035
5030         Snack Foods  260.2304            OUT045
5274         Snack Foods  260.3304            OUT013
6974         Snack Foods  258.8304            OUT049
114               Breads  173.2054            OUT045
3813              Breads  173.4054            OUT010
3845              Breads  177.0054            OUT035
4038              Breads  173.6054            OUT049
1653        Baking Goods   45.3086            OUT017
2897        Baking Goods   43.7086            OUT046
5175        Baking Goods   45.4086            OUT013
6085        Baking Goods   43.5086            OUT035
6266        Baking Goods   43.1086            OUT010
6277        Baking Goods   43.4086            OUT018
7534        Baking Goods   43.3086            OUT027
1983               Dairy  121.9730            OUT013
5736               Dairy  123.2730            OUT017
7938               Dairy  122.3730            OUT046
8306               Dairy  124.3730            OUT049
8448               Dairy  121.1730            OUT018
976          Snack Foods  120.2124            OUT019
2421         Snack Foods  119.1124            OUT049
2574         Snack Foods  118.7124            OUT035
5238         Snack Foods  118.9124            OUT013
8095         Snack Foods  119.9124            OUT017

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
2007                       2009      Medium               Tier 3
3714                       1987        High               Tier 3
4538                       1985       Small               Tier 1
4802                       2007         NaN               Tier 2
5248                       1997       Small               Tier 1
5440                       2002         NaN               Tier 2
6670                       1998         NaN               Tier 3
1496                       1998         NaN               Tier 3
6458                       2009      Medium               Tier 3
6851                       1987        High               Tier 3
7048                       2002         NaN               Tier 2
7452                       2007         NaN               Tier 2
461                        2007         NaN               Tier 2
3479                       1987        High               Tier 3
5171                       2004       Small               Tier 2
5670                       1985       Small               Tier 1
6386                       2009      Medium               Tier 3
6507                       2002         NaN               Tier 2
7644                       1985      Medium               Tier 3
8227                       1999      Medium               Tier 1
610                        1985      Medium               Tier 3
4125                       1997       Small               Tier 1
5371                       2009      Medium               Tier 3
5797                       1987        High               Tier 3
1181                       1999      Medium               Tier 1
2865                       2002         NaN               Tier 2
3794                       1987        High               Tier 3
3971                       1998         NaN               Tier 3
6790                       2007         NaN               Tier 2
7587                       2004       Small               Tier 2
...                         ...         ...                  ...
6339                       2002         NaN               Tier 2
7274                       2007         NaN               Tier 2
8450                       1997       Small               Tier 1
1510                       2009      Medium               Tier 3
2962                       1985       Small               Tier 1
3498                       2004       Small               Tier 2
5030                       2002         NaN               Tier 2
5274                       1987        High               Tier 3
6974                       1999      Medium               Tier 1
114                        2002         NaN               Tier 2
3813                       1998         NaN               Tier 3
3845                       2004       Small               Tier 2
4038                       1999      Medium               Tier 1
1653                       2007         NaN               Tier 2
2897                       1997       Small               Tier 1
5175                       1987        High               Tier 3
6085                       2004       Small               Tier 2
6266                       1998         NaN               Tier 3
6277                       2009      Medium               Tier 3
7534                       1985      Medium               Tier 3
1983                       1987        High               Tier 3
5736                       2007         NaN               Tier 2
7938                       1997       Small               Tier 1
8306                       1999      Medium               Tier 1
8448                       2009      Medium               Tier 3
976                        1985       Small               Tier 1
2421                       1999      Medium               Tier 1
2574                       2004       Small               Tier 2
5238                       1987        High               Tier 3
8095                       2007         NaN               Tier 2

            Outlet_Type  Item_Outlet_Sales
2007  Supermarket Type2          2914.8724
3714  Supermarket Type1          5299.7680
4538      Grocery Store          1324.9420
4802  Supermarket Type1          1059.9536
5248  Supermarket Type1          3709.8376
5440  Supermarket Type1          3444.8492
6670      Grocery Store           264.9884
1496      Grocery Store           170.4448
6458  Supermarket Type2          1278.3360
6851  Supermarket Type1          1278.3360
7048  Supermarket Type1          1619.2256
7452  Supermarket Type1           511.3344
461   Supermarket Type1           759.0120
3479  Supermarket Type1           645.1602
5171  Supermarket Type1           607.2096
5670      Grocery Store            37.9506
6386  Supermarket Type2           303.6048
6507  Supermarket Type1           493.3578
7644  Supermarket Type3           721.0614
8227  Supermarket Type1           341.5554
610   Supermarket Type3          3836.3396
4125  Supermarket Type1          1159.8236
5371  Supermarket Type2          1427.4752
5797  Supermarket Type1          1605.9096
1181  Supermarket Type1          2444.8176
2865  Supermarket Type1          1629.8784
3794  Supermarket Type1          2037.3480
3971      Grocery Store           203.7348
6790  Supermarket Type1          1018.6740
7587  Supermarket Type1          1731.7458
...                 ...                ...
6339  Supermarket Type1           976.7286
7274  Supermarket Type1          1627.8810
8450  Supermarket Type1          1844.9318
1510  Supermarket Type2          3874.9560
2962      Grocery Store           774.9912
3498  Supermarket Type1          6458.2600
5030  Supermarket Type1          4908.2776
5274  Supermarket Type1          5424.9384
6974  Supermarket Type1          5424.9384
114   Supermarket Type1          3151.8972
3813      Grocery Store           875.5270
3845  Supermarket Type1          2101.2648
4038  Supermarket Type1           700.4216
1653  Supermarket Type1           490.6946
2897  Supermarket Type1           892.1720
5175  Supermarket Type1           981.3892
6085  Supermarket Type1           401.4774
6266      Grocery Store            89.2172
6277  Supermarket Type2           401.4774
7534  Supermarket Type3           624.5204
1983  Supermarket Type1          2709.8060
5736  Supermarket Type1          1108.5570
7938  Supermarket Type1           985.3840
8306  Supermarket Type1          2093.9410
8448  Supermarket Type2          2093.9410
976       Grocery Store           474.0496
2421  Supermarket Type1          3673.8844
2574  Supermarket Type1          2607.2728
5238  Supermarket Type1          3199.8348
8095  Supermarket Type1          2014.7108

[8523 rows x 12 columns]

In [7]:
test_data = pd.DataFrame()
for item in list(set(test['Item_Identifier'])):
  temp = test.loc[test['Item_Identifier']==item].copy()

  temp['Item_Weight'].fillna(temp['Item_Weight'].mean(),inplace = True)
  test_data = test_data.append(temp)
print(test_data)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
2784           FDS13        6.465          Low Fat         0.124483
4910           FDS13        6.465          Low Fat         0.124700
5348           FDS13        6.465          Low Fat         0.123903
2625           NCJ17        7.680          Low Fat         0.267107
2681           NCJ17        7.680          Low Fat         0.152528
4552           NCJ17        7.680          Low Fat         0.151818
5093           NCJ17        7.680          Low Fat         0.152556
5621           NCJ17        7.680          Low Fat         0.152794
2455           FDA13       15.850          Low Fat         0.131485
3772           FDA13       15.850          Low Fat         0.078555
216            FDM51       11.800          Regular         0.045393
574            FDM51       11.800          Regular         0.025801
1520           FDM51       11.800          Regular         0.025926
1764           FDM51       11.800          Regular         0.026032
225            FDC11       20.500          Low Fat         0.141766
4162           FDC11       20.500          Low Fat         0.142080
4338           FDC11       20.500          Low Fat         0.142013
4531           FDC11       20.500          Low Fat         0.142595
1065           NCE18       10.000          Low Fat         0.021322
2567           NCE18       10.000          Low Fat         0.021547
2886           NCE18       10.000          Low Fat         0.000000
300            NCI30       20.250          Low Fat         0.098646
1275           NCI30       20.250          Low Fat         0.058650
4039           NCI30       20.250          Low Fat         0.059027
4527           NCI30       20.250          Low Fat         0.058924
3909           FDT21          NaN          Low Fat         0.035703
1836           FDB20        7.720          Low Fat         0.091011
2194           FDB20        7.720          Low Fat         0.052192
2599           FDB20        7.720          Low Fat         0.051729
2979           FDB20        7.720          Low Fat         0.087005
...              ...          ...              ...              ...
1029           FDU48       18.850          Low Fat         0.055090
2604           FDU48       18.850          Low Fat         0.055358
2931           FDU48       18.850          Low Fat         0.055312
4446           FDU48       18.850          Low Fat         0.096926
5408           FDU48       18.850          Low Fat         0.055445
4047           FDQ09        7.235          Low Fat         0.058132
4928           FDQ09        7.235          Low Fat         0.101782
5153           FDQ09        7.235          Low Fat         0.058461
506            FDC28        7.905          Low Fat         0.092037
680            FDC28        7.905          Low Fat         0.055072
1942           FDC28        7.905          Low Fat         0.055211
3084           FDC28        7.905          Low Fat         0.054977
4603           FDC28        7.905          Low Fat         0.054941
374            FDL57       15.100          Regular         0.067456
2183           FDL57       15.100          Regular         0.067077
2649           FDL57       15.100          Regular         0.066752
777            FDV11        9.100          Regular         0.082130
2086           FDV11        9.100          Regular         0.082000
3150           FDV11        9.100          Regular         0.081600
5454           FDV11        9.100          Regular         0.081272
2390           FDO60       20.000          Low Fat         0.034423
3465           FDO60       20.000          Low Fat         0.034439
1694           FDV50       14.300          Low Fat         0.122548
3330           FDV50       14.300          Low Fat         0.121978
4545           FDV50       14.300          Low Fat         0.000000
5138           FDV50       14.300          Low Fat         0.122820
622            FDU22       12.350          Low Fat         0.093486
4742           FDU22       12.350          Low Fat         0.093677
4777           FDU22       12.350          Low Fat         0.093297
5593           FDU22       12.350          Low Fat         0.092845

                  Item_Type  Item_MRP Outlet_Identifier  \
2784                 Canned  263.5884            OUT035
4910                 Canned  266.0884            OUT049
5348                 Canned  263.0884            OUT027
2625     Health and Hygiene   85.4224            OUT019
2681     Health and Hygiene   85.2224            OUT035
4552     Health and Hygiene   86.0224            OUT027
5093     Health and Hygiene   85.1224            OUT046
5621     Health and Hygiene   86.2224            OUT049
2455                 Canned   35.9506            OUT010
3772                 Canned   38.7506            OUT046
216                    Meat  102.2674            OUT019
574                    Meat  101.6674            OUT027
1520                   Meat   99.9674            OUT046
1764                   Meat  101.2674            OUT018
225           Starchy Foods   87.4172            OUT035
4162          Starchy Foods   89.5172            OUT045
4338          Starchy Foods   88.2172            OUT049
4531          Starchy Foods   87.7172            OUT017
1065              Household  251.3750            OUT027
2567              Household  249.1750            OUT017
2886              Household  248.6750            OUT049
300               Household  244.7460            OUT010
1275              Household  247.8460            OUT027
4039              Household  248.0460            OUT049
4527              Household  245.0460            OUT035
3909            Snack Foods  248.0092            OUT019
1836  Fruits and Vegetables   77.0986            OUT019
2194  Fruits and Vegetables   78.7986            OUT018
2599  Fruits and Vegetables   77.9986            OUT027
2979  Fruits and Vegetables   75.8986            OUT010
...                     ...       ...               ...
1029           Baking Goods  130.7284            OUT027
2604           Baking Goods  132.7284            OUT046
2931           Baking Goods  131.4284            OUT013
4446           Baking Goods  131.3284            OUT019
5408           Baking Goods  130.6284            OUT049
4047            Snack Foods  114.0834            OUT046
4928            Snack Foods  113.6834            OUT019
5153            Snack Foods  114.2834            OUT017
506            Frozen Foods  110.5254            OUT010
680            Frozen Foods  109.1254            OUT049
1942           Frozen Foods  108.0254            OUT018
3084           Frozen Foods  109.7254            OUT035
4603           Frozen Foods  110.4254            OUT013
374             Snack Foods  257.5304            OUT017
2183            Snack Foods  260.0304            OUT046
2649            Snack Foods  257.4304            OUT027
777                  Breads  176.9054            OUT017
2086                 Breads  173.9054            OUT018
3150                 Breads  176.8054            OUT013
5454                 Breads  176.3054            OUT027
2390           Baking Goods   44.4086            OUT049
3465           Baking Goods   45.1086            OUT045
1694                  Dairy  122.1730            OUT035
3330                  Dairy  122.5730            OUT027
4545                  Dairy  124.1730            OUT010
5138                  Dairy  122.4730            OUT045
622             Snack Foods  119.6124            OUT045
4742            Snack Foods  119.4124            OUT018
4777            Snack Foods  120.0124            OUT046
5593            Snack Foods  116.8124            OUT027

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
2784                       2004       Small               Tier 2
4910                       1999      Medium               Tier 1
5348                       1985      Medium               Tier 3
2625                       1985       Small               Tier 1
2681                       2004       Small               Tier 2
4552                       1985      Medium               Tier 3
5093                       1997       Small               Tier 1
5621                       1999      Medium               Tier 1
2455                       1998         NaN               Tier 3
3772                       1997       Small               Tier 1
216                        1985       Small               Tier 1
574                        1985      Medium               Tier 3
1520                       1997       Small               Tier 1
1764                       2009      Medium               Tier 3
225                        2004       Small               Tier 2
4162                       2002         NaN               Tier 2
4338                       1999      Medium               Tier 1
4531                       2007         NaN               Tier 2
1065                       1985      Medium               Tier 3
2567                       2007         NaN               Tier 2
2886                       1999      Medium               Tier 1
300                        1998         NaN               Tier 3
1275                       1985      Medium               Tier 3
4039                       1999      Medium               Tier 1
4527                       2004       Small               Tier 2
3909                       1985       Small               Tier 1
1836                       1985       Small               Tier 1
2194                       2009      Medium               Tier 3
2599                       1985      Medium               Tier 3
2979                       1998         NaN               Tier 3
...                         ...         ...                  ...
1029                       1985      Medium               Tier 3
2604                       1997       Small               Tier 1
2931                       1987        High               Tier 3
4446                       1985       Small               Tier 1
5408                       1999      Medium               Tier 1
4047                       1997       Small               Tier 1
4928                       1985       Small               Tier 1
5153                       2007         NaN               Tier 2
506                        1998         NaN               Tier 3
680                        1999      Medium               Tier 1
1942                       2009      Medium               Tier 3
3084                       2004       Small               Tier 2
4603                       1987        High               Tier 3
374                        2007         NaN               Tier 2
2183                       1997       Small               Tier 1
2649                       1985      Medium               Tier 3
777                        2007         NaN               Tier 2
2086                       2009      Medium               Tier 3
3150                       1987        High               Tier 3
5454                       1985      Medium               Tier 3
2390                       1999      Medium               Tier 1
3465                       2002         NaN               Tier 2
1694                       2004       Small               Tier 2
3330                       1985      Medium               Tier 3
4545                       1998         NaN               Tier 3
5138                       2002         NaN               Tier 2
622                        2002         NaN               Tier 2
4742                       2009      Medium               Tier 3
4777                       1997       Small               Tier 1
5593                       1985      Medium               Tier 3

            Outlet_Type
2784  Supermarket Type1
4910  Supermarket Type1
5348  Supermarket Type3
2625      Grocery Store
2681  Supermarket Type1
4552  Supermarket Type3
5093  Supermarket Type1
5621  Supermarket Type1
2455      Grocery Store
3772  Supermarket Type1
216       Grocery Store
574   Supermarket Type3
1520  Supermarket Type1
1764  Supermarket Type2
225   Supermarket Type1
4162  Supermarket Type1
4338  Supermarket Type1
4531  Supermarket Type1
1065  Supermarket Type3
2567  Supermarket Type1
2886  Supermarket Type1
300       Grocery Store
1275  Supermarket Type3
4039  Supermarket Type1
4527  Supermarket Type1
3909      Grocery Store
1836      Grocery Store
2194  Supermarket Type2
2599  Supermarket Type3
2979      Grocery Store
...                 ...
1029  Supermarket Type3
2604  Supermarket Type1
2931  Supermarket Type1
4446      Grocery Store
5408  Supermarket Type1
4047  Supermarket Type1
4928      Grocery Store
5153  Supermarket Type1
506       Grocery Store
680   Supermarket Type1
1942  Supermarket Type2
3084  Supermarket Type1
4603  Supermarket Type1
374   Supermarket Type1
2183  Supermarket Type1
2649  Supermarket Type3
777   Supermarket Type1
2086  Supermarket Type2
3150  Supermarket Type1
5454  Supermarket Type3
2390  Supermarket Type1
3465  Supermarket Type1
1694  Supermarket Type1
3330  Supermarket Type3
4545      Grocery Store
5138  Supermarket Type1
622   Supermarket Type1
4742  Supermarket Type2
4777  Supermarket Type1
5593  Supermarket Type3

[5681 rows x 11 columns]

In [8]:

train_data.isna().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
test_data.isna().sum()

Item_Identifier                 0
Item_Weight                    20
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [10]:
products = list(train_data[train_data['Item_Weight'].isnull()]['Item_Identifier'])
products

['FDQ60', 'FDN52', 'FDK57', 'FDE52']

In [11]:

test_products = list(test_data[test_data['Item_Weight'].isnull()]['Item_Identifier'])
len(test_products)

20

In [12]:

product_price_test = []
for item in test_products:
  product_price_test.append(train[train['Item_Identifier'] == item].iloc[0]['Item_Weight'])
dictionary1 = dict(zip(test_products, product_price_test))

In [13]:
product_price = []
for item in products:
  product_price.append(test[test['Item_Identifier'] == item].iloc[0]['Item_Weight'])
dictionary2 = dict(zip(products, product_price))

In [14]:
train_data.loc[train_data['Item_Weight'].isnull(),'Item_Weight'] = train_data['Item_Identifier'].map(dictionary2)

In [15]:
test_data.loc[test_data['Item_Weight'].isnull(),'Item_Weight'] = test_data['Item_Identifier'].map(dictionary1)

In [16]:
train_data.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [17]:
test_data.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [18]:
train_data.loc[train_data['Outlet_Type']=='Grocery Store', 'Outlet_Size'] = 'Small'

In [19]:

train_data.loc[train_data['Outlet_Type']=='Supermarket Type1', 'Outlet_Size'] = train_data['Outlet_Size'].fillna('Small')
train_data.loc[train_data['Outlet_Type']=='Supermarket Type2', 'Outlet_Size'] = train_data['Outlet_Size'].fillna('Medium')

In [20]:
train_data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [21]:

test_data.loc[test_data['Outlet_Type']=='Grocery Store', 'Outlet_Size'] = 'Small'
test_data.loc[test_data['Outlet_Type']=='Supermarket Type1', 'Outlet_Size'] = test_data['Outlet_Size'].fillna('Small')
test_data.loc[test_data['Outlet_Type']=='Supermarket Type2', 'Outlet_Size'] = test_data['Outlet_Size'].fillna('Medium')

In [22]:
#train_data.to_csv('trainData.csv')
test_data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [23]:
"""train_data = pd.DataFrame()
for item in list(set(train['Item_Identifier'])):
  temp = train.loc[train['Item_Identifier']==item].copy()
  temp['Item_Visibility'] = temp['Item_Visibility'].replace(to_replace = 0, value = temp['Item_Visibility'].mean())
  train_data = train_data.append(temp,ignore_index=False)
#print(train_data)"""

"train_data = pd.DataFrame()\nfor item in list(set(train['Item_Identifier'])):\n  temp = train.loc[train['Item_Identifier']==item].copy()\n  temp['Item_Visibility'] = temp['Item_Visibility'].replace(to_replace = 0, value = temp['Item_Visibility'].mean())\n  train_data = train_data.append(temp,ignore_index=False)\n#print(train_data)"

In [24]:
"""testData = pd.DataFrame()
for item in list(set(test['Item_Identifier'])):
  temp = test_data.loc[test_data['Item_Identifier']==item].copy()
  temp['Item_Visibility'] = temp['Item_Visibility'].replace(to_replace = 0, value = temp['Item_Visibility'].mean())
  testData = testData.append(temp,ignore_index=False)"""

"testData = pd.DataFrame()\nfor item in list(set(test['Item_Identifier'])):\n  temp = test_data.loc[test_data['Item_Identifier']==item].copy()\n  temp['Item_Visibility'] = temp['Item_Visibility'].replace(to_replace = 0, value = temp['Item_Visibility'].mean())\n  testData = testData.append(temp,ignore_index=False)"

In [25]:

train_data['Item_Type_Combined'] = train_data['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
train_data['Item_Type_Combined'] = train_data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
train_data['Item_Type_Combined'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Type_Combined, dtype: int64

In [26]:
#Get the first two characters of ID:
test_data['Item_Type_Combined'] = test_data['Item_Identifier'].apply(lambda x: x[0:2])
#Rename them to more intuitive categories:
test_data['Item_Type_Combined'] = test_data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
test_data['Item_Type_Combined'].value_counts()

Food              4076
Non-Consumable    1087
Drinks             518
Name: Item_Type_Combined, dtype: int64

In [27]:
train_data['Outlet_Age'] = 2013 - train_data['Outlet_Establishment_Year']
test_data['Outlet_Age'] = 2013 - test_data['Outlet_Establishment_Year']

In [28]:
categorical_columns = list(train_data.columns[train_data.dtypes == 'object'])
usefull = ['Item_Identifier','Outlet_Identifier']
for i in usefull:
    categorical_columns.remove(i)

In [29]:

from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
for column in categorical_columns:
    train_data[column]= label_encoder.fit_transform(train_data[column])

In [30]:
train_data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Item_Type_Combined           0
Outlet_Age                   0
dtype: int64

In [31]:
categorical_columns = list(test_data.columns[test_data.dtypes == 'object'])
usefull = ['Item_Identifier','Outlet_Identifier']
for i in usefull:
    categorical_columns.remove(i)

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
for column in categorical_columns:
    test_data[column]= label_encoder.fit_transform(test_data[column])

In [32]:

train_data.to_csv('DataToModel.csv')
test_data.to_csv('TestData.csv')

In [33]:

#Mean based:
mean_sales = train_data['Item_Outlet_Sales'].mean()

In [34]:
mean_sales = train_data.groupby('Item_Identifier')['Item_Outlet_Sales'].mean().reset_index()

In [35]:
mean_sales_by_outlet = train_data.groupby('Outlet_Identifier')['Item_Outlet_Sales'].mean().reset_index()

In [36]:
mean_sales.to_csv('mean_sales.csv')

In [37]:

sample = pd.read_csv(r"C:\Users\SaurabhM\Jupyter Project Files\My Works\Big Mart Predicition\sample_submission.csv")

In [38]:
merged_inner = pd.merge(left=sample, right=mean_sales, left_on='Item_Identifier', right_on='Item_Identifier')

In [39]:
merged_inner_by_outlet = pd.merge(left=sample, right=mean_sales_by_outlet, left_on='Outlet_Identifier', right_on='Outlet_Identifier')